{% extends 'layout.html' %} 
{% load static %} 
{% block title %} 
Home 
{% endblock title %} 
{% block js %}
<script src="//code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="../static/js/jquery.fullPage.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.1/js/swiper.min.js"></script>
{% endblock js %}
{% block css %}
<link
  rel="stylesheet"
  href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
  integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk"
  crossorigin="anonymous"
/>
<link rel="stylesheet" href="{% static 'css/jquery.fullPage.css' %}" />
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
<link rel="stylesheet" href="{% static 'css/media.css' %}" />
{% endblock css %}
{% block content %}
  <section class="home__content">
    <div id="fullpage">
      <!-- Section 1 - Welcome Page -->
      <div class="section" id="section1">
        <div class="mainMent">
          <h1>새해 첫날 세운 <span>목표</span> 잘 이뤄나가고 계신가요?</h1>
          <h1>아니, <span>목표</span>를 세우긴 하셨나요?</h1>
        </div>
        <div class="swiper-container">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <span class="material-icons">check_circle</span>
              <p>뚜렷한 계획과 목표가 없는 당신</p>
            </div>
            <div class="swiper-slide">
              <span class="material-icons">check_circle</span>
              <p>목표를 어디서부터 어떻게 세워야 할지 모르는 당신</p>
            </div>
            <div class="swiper-slide">
              <span class="material-icons">check_circle</span>
              <p>목표를 세웠지만 무슨 일부터 해야할 지 고민하는 당신</p>
            </div>
            <div class="swiper-slide">
              <span class="material-icons">check_circle</span>
              <p>목표에 대한 세부적인 계획을 세우고 싶은 당신</p>
            </div>
          </div>
        </div>
        <div class="getTogether">
          <div class="first-line line">
            <p class="getTogether-logo">Cross Off</p>
            <p>가 제공하는 
          </div>
          <div class="second-line line">
            <p class="getTogether-mandalart">만다라트 계획표</p>
            <p>와 함께 작년보다 나은 한 해를 보내세요!</p>
          </div>
        </div>
      </div>
      <!-- Section 2 - What is Mandal-art planner -->
      <div class="section" id="section2">
        <div class="slide" id="slide1">
          <p class="title">Mandal-Art Planner</p> 
          <div class="description">
            <span class="detail one">목적을 달성하는 기술을 가진 플래너 📒</span>
            <ul class="detail second">
              <li>일본 디자이너 이마이즈미 히로아키가 1987년에 </li>
              <li>
                <p class="strong">만다라</p>
                <p>의 모양에서 영감을 얻어 고안한 것으로</p>
              </li>
              <li></li>
            </ul>
            <ul class="detail third">
              <li>
                <p class="strong">핵심 목표</p>
                <p>를 중심으로 하여 </p>
                <p>확산하는 형태로</p>
              </li>
              <li>
                <p class="strong">중간 목표</p>
                <p>와 </p>
              </li>
              <li>
                <p class="strong">세부 목표</p>
                <p>를 작성하는</p>
                <p class="strong">계획표</p>
                <p>입니다.</p>
              </li>
              <li></li>
            </ul>
          </div>
          <img src="{% static 'img/example_purple.png' %}" alt="만다라트 계획표 에시">
          <div class="explanation__swiper">
            <p>옆으로 넘기며 내용을 확인해보세요.</p>
          </div>
        </div>
        <div class="slide" id="slide3">
          <p class="title">How To</p>
          <div class="description">
            <span class="detail">9X9의 표의 가운데에 이루고자 하는 <p>핵심 목표</p>를 기입합니다.<br></span>
            <span class="detail">핵심 목표 주변 8개 사각형에 <p>목표를 실현하기 위한 목표</p>를 적습니다.<br></span>
            <span class="detail">그 8개의 목표를 주변으로 확장해 <p>세부 목표</p>를 작성합니다.<br></span>
            <span class="detail">한눈에 목표를 확인하면서 <p>체계적⌛</p>으로 계획을 괸리할 수 있습니다.<br></span>
            <span class="detail">작은 성취가 모여 최종 목표까지 달성했을 때에 성취감🎉을 느껴보세요!<br></span>
            <span class="detail tips"><p id="tip">TIP</p>목표는 <p>구체적</p>일수록 좋습니다 🤍<br></span>
            <span class="detail">고민하는 시간이 중요합니다!</span>
            <span class="detail">충분한 시간을 들여 계획표를 차근차근 채워나가세요. 😉</span>
          </div>
        </div>
      </div>
  
      <div class="section" id="section2">
        <div class="box_dash_container">
          <div id="box_dash"> </div>    
        </div>
        <div class="box_dashtext">
          <div id="text1">작년<p>보다 나은</p> 올해 :)</div><Br><br><br>
            <div id="text2">만다라트 계획표를 통한 올해 계획을 세워보세요.<br><br><br>
            완료된 목표는 체크로 Cross off-!<br><br><br>
            9x9로 한 눈에! 리스트로 자세하게!<br><br><br>
            목표을 달성하여 배지까지 획득하기 <br><br><br>
            </div>

        </div>
      </div>

      <div class="section" id="section2">
          <div class="box_diary_container">
            <div id="box_diary"> </div>    
          </div>
          <div class="box_diarytext">
            <div id="text1">어제<p>보다 나은</p> 오늘 :)</div><Br><br><br>
            <div id="text2">하루를 마무리하는 특별한 방법 Cross off<br><br><br>
              오늘의 목표달성 체크! 오늘의 일기까지!<br><br><br>
              캘린더로 내가 얼마나 목표를 달성했는지 한 눈에 확인<br><br><br>
              </div>

          </div>
      </div>


      <!-- Section 3 - People who involved in -->
      <div class="section" id="section3">
        <!-- 주어진 높이만큼 하고 싶으면 class에 fp-auto-height 추가하기 -->
        <div class="involvedPeople">
          <p class="description">💻 People Who Participated 💻</p>
          <ul>
            <li>
              <img src="{% static 'img/hyunjik.png'%}" alt="">
              <p>이현직</p>
            </li>
            <li>
              <img src="{% static 'img/daeyeon.png'%}" alt="">
              <p>김대연</p>
            </li>
            <li>
              <img src="{% static 'img/nawon.png'%}" alt="">
              <p>조나원</p>
            </li>
            <li>
              <img src="{% static 'img/minsol.png'%}" alt="">
              <p>김민솔</p>
            </li>
            <li>
              <img src="{% static 'img/jihye.png'%}" alt="">
              <p>김지혜</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="startBtn__content">
      <button id="startBtn" class="btn-purple" onclick="location.href ='/common/login'">
        START
      </button>
    </div>
    <div class="toggleupBtn__content">
      <a id="toggleBtn">💜</a>
    </div>
  </section>
</div>

<script>
// 따로 js 파일을 분리하니까 swiper가 작동을 안해서 html 밑에 붙여놓았습니다..
// Full Page JS
$(function(){
    $('#fullpage').fullpage({
      autoScrolling:true,
      scrollHorizontally:true,
      loopBottom:true,
    });
});
$('#toggleBtn').click(function () {
			$.fn.fullpage.moveTo(1, 1); // 이동하고싶은 페이지
		});

// Section 1 - swiper
const swiper = new Swiper('.swiper-container', {  
    direction: 'vertical',  
     loop: true,  
     autoplay:{
       delay:3000,
       disableOnInterraction:false,
     }
});
</script>
{% endblock content %}
