{% load static %}

<html lang="en">

<head>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <script src="//code.jquery.com/jquery-3.4.1.min.js"></script>
    <title>Server Error</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'img/favicon.png' %}" />
</head>

<body>
    <div class="login_background">
        <div class="error_body" >
            <!-- logo -->
            <div class="error_logo"> 
                <img class="error_logo" src="{% static 'img/favicon.png' %}" alt="">
            </div>

            <div class="error_num" data-text="500"><p>500</p></div>
            <h3>SERVER ERROR</h3>
            <h4>서버에 오류가 발생하였습니다.</h4>
            <h4>관리자에게 문의하십시오.</h4>
            <div class="error_btns">
                <button onclick="location.href ='mailto:jiggy0429@likelion.org'">
                    이메일로 문의하기
                </button>
                <button onclick="location.href ='/'">
                    홈으로 돌아가기
                </button>
            </div>
            
        </div>
    </div>
    </body>

</html>