{% extends 'layout.html' %} {% load static %}
{% block title %}
Dashboard
{% endblock title %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/style.css' %}" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock css %} {% block content %}

<section id="dashboard" class="content inner">
  <div class="dashboard__title">
    <p>Dashboard</p>
  </div>
  <div class="dashboard__content_top">
    <div class="content__left">
      <div class="customer_data">
        <div class="datas">
          <div class="profile_picture">
            <img src="img/mini_jae.png" />
          </div>
          <div class="names">
            <p>{{user.nickname}} 님</p>
          </div>
        </div>
        <div class="edit__btns">
          <button class="btn btn_gray">
            <a href="{% url 'common:edit_password' %}">Edit Password</a>
          </button>
          <button class="btn btn_gray">
            <a href="{% url 'common:profile' user.id %}">See Profile</a>
          </button>
        </div>
      </div>
      <div class="levels">
        <div class="level_picture">
          <p>2</p>
        </div>
        <div class="descrip">
          <p>Level 2</p>
          <p>다음 단계를 위해서 세부 계획 3개를 더 완료하세요!</p>
        </div>
      </div>
    </div>
    <div class="content__right">
      <div class="badges">
        <div class="badge_item">
          <div class="badge">
            <span class="material-icons">language</span>
          </div>
          <p>목표1</p>
        </div>
        <div class="badge_item">
          <div class="badge">
            <span class="material-icons">code</span>
          </div>
          <p>목표2</p>
        </div>
        <div class="badge_item">
          <div class="badge">
            <span class="material-icons">space_dashboard</span>
          </div>
          <p>목표3</p>
        </div>
        <div class="badge_item">
          <div class="badge">
            <span class="material-icons">sentiment_satisfied</span>
          </div>
          <p>목표4</p>
        </div>
        <div class="badge_item">
          <div class="badge">
            <span class="material-icons"> self_improvement </span>
          </div>
          <p>목표5</p>
        </div>
        <div class="badge_item">
          <div class="badge">
            <span class="material-icons"> savings </span>
          </div>
          <p>목표6</p>
        </div>
        <div class="badge_item">
          <div class="badge">
            <span class="material-icons"> people_outline </span>
          </div>
          <p>목표7</p>
        </div>
        <div class="badge_item">
          <div class="badge">
            <span class="material-icons"> movie_creation </span>
          </div>
          <p>목표8</p>
        </div>
        <div class="badge_item">
          <div class="badge">
            <span class="material-icons"> movie_creation </span>
          </div>
          <p>목표8</p>
        </div>
        <div class="badge_item">
          <div class="badge">
            <span class="material-icons"> movie_creation </span>
          </div>
          <p>목표8</p>
        </div>
        <div class="badge_item">
          <div class="badge">
            <span class="material-icons"> movie_creation </span>
          </div>
          <p>목표8</p>
        </div>
        <div class="badge_item">
          <div class="badge">
            <span class="material-icons"> movie_creation </span>
          </div>
          <p>목표8</p>
        </div>
        <div class="badge_item">
          <div class="badge">
            <span class="material-icons"> movie_creation </span>
          </div>
          <p>목표8</p>
        </div>
        <div class="badge_item">
          <div class="badge">
            <span class="material-icons"> movie_creation </span>
          </div>
          <p>목표8</p>
        </div>
        <div class="badge_item">
          <div class="badge">
            <span class="material-icons"> movie_creation </span>
          </div>
          <p>목표8</p>
        </div>
        <div class="badge_item">
          <div class="badge">
            <span class="material-icons"> movie_creation </span>
          </div>
          <p>목표8</p>
        </div>
        <div class="badge_item">
          <div class="badge">
            <span class="material-icons"> movie_creation </span>
          </div>
          <p>목표8</p>
        </div>
      </div>
    </div>
  </div>
  <div class="dashboard__content_bottom">
    <div class="manda__nav">
      <div class="categories">
        <button class="btn btn-lightgray" data-filter="table">
          <span class="material-icons">apps</span>
        </button>
        <button class="btn btn-lightgray" data-filter="checkbox">
          <span class="material-icons">format_list_bulleted</span>
        </button>
        <button class="btn btn-lightgray" data-filter="edit">
          <span class="material-icons">edit</span>
        </button>
        <button class="btn btn-lightgray" data-filter="delete">
          <span class="material-icons">delete</span>
        </button>
      </div>
    </div>
    <div class="plan__content">
      <div class="plan table" data-type="table">
        <div class="manda__table" id="manda_table">
          <script>
            for(let i = 1; i <= 9; i++) {
                document.write('<div class="box" id="box'+i+'">')
                for(let j = 1; j <= 9; j++){
                    document.write('<input class="element" id="element'+j+'"" autocomplete="on" readonly></input>');
                }
                document.write('</div>')
            }
          </script>
        </div>
      </div>
      <div class="plan checkbox" data-type="checkbox">
        <div class="manda__checkbox" id="manda_checkbox">
            <div class="up side">
              <div class="object" id="object1">
                <div class="mid" id="object__mid1">
                  <p>{{manda_mid1}}</p>
                </div>
                <script>
                  for(let j = 1; j <= 8; j++){
                  document.write('<div class="object__small"><input type="checkbox" class="elements" id="obj'+j+'"/>');
                  document.write('<label for="obj'+j+'">세부목표 '+j+'</label></div>');
                }</script>
              </div>
              <div class="object" id="object2">
                <div class="mid" id="object__mid2">
                  <p>{{manda_mid2}}</p>
                </div>
                <script>
                  for(let j = 1; j <= 8; j++){
                  document.write('<div class="object__small"><input type="checkbox" class="elements" id="obj'+j+'"/>');
                  document.write('<label for="obj'+j+'">세부목표 '+j+'</label></div>');
                }</script>
              </div>
              <div class="object" id="object3">
                <div class="mid" id="object__mid3">
                  <p>{{manda_mid3}}</p>
                </div>
                <script>
                  for(let j = 1; j <= 8; j++){
                  document.write('<div class="object__small"><input type="checkbox" class="elements" id="obj'+j+'"/>');
                  document.write('<label for="obj'+j+'">세부목표 '+j+'</label></div>');
                }</script>
              </div>
              <div class="object" id="object4">
                <div class="mid" id="object__mid4">
                  <p>{{manda_mid4}}</p>
                </div>
                <script>
                  for(let j = 1; j <= 8; j++){
                  document.write('<div class="object__small"><input type="checkbox" class="elements" id="obj'+j+'"/>');
                  document.write('<label for="obj'+j+'">세부목표 '+j+'</label></div>');
                }</script>
              </div>
            </div>
            <div class="down side">
              <div class="object" id="object5">
                <div class="mid" id="object__mid5">
                  <p>{{manda_mid5}}</p>
                </div>
                <script>
                  for(let j = 1; j <= 8; j++){
                  document.write('<div class="object__small"><input type="checkbox" class="elements" id="obj'+j+'"/>');
                  document.write('<label for="obj'+j+'">세부목표 '+j+'</label></div>');
                }</script>
              </div>
              <div class="object" id="object6">
                <div class="mid" id="object__mid6">
                  <p>{{manda_mid6}}</p>
                </div>
                <script>
                  for(let j = 1; j <= 8; j++){
                  document.write('<div class="object__small"><input type="checkbox" class="elements" id="obj'+j+'"/>');
                  document.write('<label for="obj'+j+'">세부목표 '+j+'</label></div>');
                }</script>
              </div>
              <div class="object" id="object7">
                <div class="mid" id="object__mid7">
                  <p>{{manda_mid7}}</p>
                </div>
                <script>
                  for(let j = 1; j <= 8; j++){
                  document.write('<div class="object__small"><input type="checkbox" class="elements" id="obj'+j+'"/>');
                  document.write('<label for="obj'+j+'">세부목표 '+j+'</label></div>');
                }</script>
              </div>
              <div class="object" id="object8">
                <div class="mid" id="object__mid8">
                  <p>{{manda_mid8}}</p>
                </div>
                <script>
                  for(let j = 1; j <= 8; j++){
                  document.write('<div class="object__small"><input type="checkbox" class="elements" id="obj'+j+'"/>');
                  document.write('<label for="obj'+j+'">세부목표 '+j+'</label></div>');
                }</script>
              </div>
            </div>
        </div>
      </div>
      <div class="plan edit" data-type="edit">
        <p>여기 안에 편집 내용이 들어가유</p>
      </div>
      <div class="plan delete" data-type="delete">
        <p>여긴 삭제 (만약에 삭제 기능을 DB를 날리는 거라면.. 여긴 필요가 없겠죠..?)</p>
      </div>
    </div>
  </div>
</section>
<!-- JAVASCRIPT -->
<script>
  // 만다라트 보기 방식 변경 by 지혜
  const btnContainer = document.querySelector('.categories');
  const planContainer = document.querySelector('.plan__content');
  const plans = document.querySelectorAll('.plan');
  btnContainer.addEventListener('click', (e)=>{
    const filter = e.target.dataset.filter || e.target.parentNode.dataset.filter;
    if(filter == null){
      return;
    }
    planContainer.classList.add('anim-out');
    setTimeout(()=>{
      plans.forEach((plan)=>{
      if(filter === plan.dataset.type){
        plan.classList.remove('invisible');
      }else{
        plan.classList.add('invisible');
      }
      });
      planContainer.classList.remove('anim-out');
    },300);
  });
</script>
{% endblock content %}