{% extends 'layout.html' %}
{% block content %}
<section id="editPassword">
    <div class="background">
        <div class="content__title">
            <p>🤍 비밀번호 변경 🤍</p>
        </div>
        <div class="editPassword__content">
            <form method="POST" novalidate>
                {% csrf_token %}
                 <!--기존 비밀번호-->
                 <div class="password old">
                     <div class="basic__content">
                        <label name="label_old_password" for="{{ password_change_form.old_password.id_for_label }}">
                            {{ password_change_form.old_password.label }}
                        </label>
                        <div class="input_content">
                            {{ password_change_form.old_password }}
                        </div>
                     </div>
                    {% if password_change_form.old_password.errors %}
                    {% for error in password_change_form.old_password.errors %}
                    <div class="invalid-feedback">
                        {{ error }}
                    </div>
                    {% endfor %}
                    {% endif %}
                </div>
                <!--새 비밀번호-->
                <div class="password new-first">
                    <div class="basic__content">
                        <label name="label_new_password1" for="{{ password_change_form.new_password1.id_for_label }}">
                            {{ password_change_form.new_password1.label }}
                        </label>
                        <div class="input_content">
                            {{ password_change_form.new_password1 }}
                        </div>
                    </div>
                    {% if password_change_form.new_password1.errors %}
                    {% for error in password_change_form.new_password1.errors %}
                    <div class="invalid-feedback">
                        {{ error }}
                    </div>
                    {% endfor %}
                    {% endif %}
                </div>
                <!--새 비밀번호확인-->
                <div class="password new-second">
                    <div class="basic__content">
                        <label name="label_new_password2" for="{{ password_change_form.new_password2.id_for_label }}">
                            {{ password_change_form.new_password2.label }}
                        </label>
                        <div class="input_content">
                            {{ password_change_form.new_password2 }}
                        </div>
                    </div>
                    {% if password_change_form.new_password2.errors %}
                    {% for error in password_change_form.new_password2.errors %}
                    <div class="invalid-feedback">
                        {{ error }}
                    </div>
                    {% endfor %}
                    {% endif %}
                </div>
                <div class="buttons">
                    <button class="btn btn-lightgray">
                        <a href="{% url 'common:dashboard' user.id %}">취소</a>
                    </button>
                    <button type="submit" class="btn btn-purple" id="detail_btn">변경하기</button>
                </div>
            </form>
        </div>
    </div>
</section>
{% endblock content %}