{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <title>CROSS OFF</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'img/favicon.png' %}" />
  </head>
  <body>
    <div class="password_reset_background">
      <div class="password_reset_done_body">
        <div class="password_reset__logo">
          <a href="/"><img class="crossoff_logo" src="{% static 'img/favicon.png' %}" alt="logo"></a>
        </div>
        <!-- <br /> -->
        <h2>메일 보내기 완료</h2>
        <h5>메일을 확인해주세요.</h5>
        <!-- <br /> -->
        <button onclick="location.href ='/common/login'">
          로그인 하러가기
        </button>
      </div>
    </div>
  </body>
</html>
