{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <title>CROSS OFF</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'img/favicon.png' %}" />
  </head>
  <body>
    <div class="password_reset_background">
      <div class="password_reset_body">
        <div class="password_reset__logo">
          <img class="crossoff_logo" src="{% static 'img/favicon.png' %}" alt="">
        </div>
        <br />
        <h2>내 계정 찾기</h2>
        <h5>아이디와 비밀번호를 메일로 발송합니다.</h5>
        <br />
        <form method="post" action="{% url 'password_reset' %}">
          {% csrf_token %}
          <div class="password_reset_email">{{ form.as_p }}</div>
          <button type="submit">메일 보내기</button>
        </form>
      </div>
    </div>
  </body>
</html>
