{% load static %}
<html lang="en">
  <head>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <script src="//code.jquery.com/jquery-3.4.1.min.js"></script>
    <title>register</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'img/favicon.png' %}" />
  </head>

  <body>
    <div class="register_background">
      <div class="register_body">
        <!-- logo -->
        <div class="register_logo">
          <img class="crossoff_logo" src="{% static 'img/favicon.png' %}" alt="">
        </div>
        <div class="register_bottom">
          <form action="{% url 'common:register' %}" method="POST">
            {% csrf_token %} {{form.as_p}}
            <!-- <br /> -->
            <div class="login_content_submit">
              <input class="register_button"
                type="submit"
                value="회원가입"
              />
            </div>
          </form>
        </div>
        <div class="register_ok">
          이미 회원이신가요?
          <a href="{% url 'common:login' %}"><b>로그인</b></a>
        </div>
      </div>
    </div>
    <script>
      $(document).ready(function () {
        $("ul.errorlist").each(function (index) {
          $(this).appendTo($(this).parent());
        });
      });
    </script>
  </body>
</html>
