{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <title>
    {% block title %}
    {% endblock title %}
  </title>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" href="{% static 'img/favicon.png' %}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css" />
  <!-- Favicon -->
  <link rel="shortcut icon" href="{% static 'img/favicon.png' %}" />
  <!-- Font -->
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet" />
  <!-- JS -->
  {% block js %}
  {% endblock js %}
  <!-- CSS -->
  {% block css %}
  {% endblock css %}
  <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  <link rel="stylesheet" href="{% static 'css/media.css' %}" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <meta property="og:image" content="https://raw.githubusercontent.com/HyunJik-Lee/CrossOff/master/logo.jpg" />
  <meta property="og:title" content="Cross off" />
  <meta property="og:description" content="만다라트 계획표를 통해 어제보다 나은 오늘을" />

</head>

<body>
  <header>
    <div class="header__container">
      <div class="logo">
        <a href="{% url 'home:home' %}">
          <img class="crossoff_logo" src="{% static 'img/favicon.png' %}" alt="logo">
        </a>
      </div>
      <div class="navbar">
        {% if user.is_authenticated %}
        <span class="signin navbar__item">
          <a href="{% url 'daily:calendar' user.id %}">DAILY</a>
        </span>
        <span class="dashboard navbar__item">
          <a href="{% url 'common:dashboard' user.id %}">DASHBOARD</a>
        </span>
        <span class="dashboard navbar__item">
          <a href="{% url 'common:profile' user.id %}">PROFILE</a>
        </span>
        <span class="logout navbar__item">
          <a href="{% url 'common:logout' %}">LOG OUT</a>
        </span>
        {% endif %}
        {% if not user.is_authenticated %}
        <span class="signin navbar__item">
          <a href="{% url 'common:register' %}">SIGN UP</a>
        </span>
        <span class="login navbar__item">
          <a href="{% url 'common:login' %}">LOG IN</a>
        </span>
        {% endif %}
      </div>
  </header>

  {% block content %} {% endblock content %}
</body>
<script>
  // 스크롤하면 네브바가 투명해져요..
  const nav = document.querySelector('.header__container');
  const navHeight = nav.getBoundingClientRect().height;
  document.addEventListener('scroll', () => {
    nav.style.opacity = (1 - window.scrollY / navHeight);
  });
</script>

</html>