body{
    margin: 0;
}
.swiper-container {
    width: 100vw;
    height: 100vh;
    text-align: center;
}
.swiper-wrapper{
    margin-top: 0;
}
.swiper-slide {
    background: #eee;;
    color: #333;

    /* 내용을 중앙정렬 하기위해 flex 사용 */
    align-items: center;
    /* 위아래 기준 중앙정렬 */
   /* justify-content: center; */
    /* 좌우 기준 중앙정렬 */
}
.swiper-button-prev,.swiper-button-next{
    position: absolute;
    top:50%;
    left:50%;
    transform: translateY(-50%);
    z-index: 999999;
    display: inline-block;
    height: 5em;
    width: 5em;
    background-position: center center;
    background-repeat: no-repeat;
    color:#603ec0;
}
.swiper-button-prev{
    margin-left: 100px;
}
.swiper-button-next{
    margin-right: 100px;
}
.plan_big_box{
    position:absolute;
    width:300px;
    height:400px;
    padding: 40px 30px 30px 30px;
    background-color:#FFFFFF;
    text-align:center;
    top:30%;
    left:50%;
    transform: translate(-50%,-50%);
    border-radius: 10px;
    box-shadow: 0 0 100px 9px rgb(214, 214, 214);
}
textarea{
    resize: none;
    width: 400px;
    height: 100px;
    border-radius: 20px;
    text-align: center;
    padding:0;
    margin-top: 0px;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* color:rgb(0, 0, 0);
    padding:20px;
    background:#fff;
    border-bottom:4px solid #5e95cd;
    box-shadow: 0px 0px 30px #888888;
    border-radius: 10px;
    font-size: 20px;
    text-align: center;
    margin-top: 300px;
    resize: none; */

 
}
input{
    resize: none;
    width: 400px;
    height: 100px;
    border-radius: 20px;
    text-align: center;
    padding:0;
    margin-top: 0px;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* color:rgb(0, 0, 0);
    padding:20px;
    background:#fff;
    border-bottom:4px solid #5e95cd;
    box-shadow: 0px 0px 30px #888888;
    border-radius: 10px;
    font-size: 20px;
    text-align: center;
    margin-top: 300px;
    resize: none; */

 
}
#answer_1{
    margin-top: 75px;
    box-shadow: 5px 5px 10px rgb(0 0 0 / 30%);
    border: none;
}
#answer_1:focus{
    outline: none;
}
#midgoal_1:focus{background-color:#F8D4D0;
    outline: none;}
#midgoal_2:focus{background-color:#FAD9BE;
    outline: none;}
#midgoal_3:focus{background-color:#F9EDBB;
    outline: none;}
#midgoal_4:focus{background-color:#EFDDEB;
    outline: none;}
#midgoal_5:focus{background-color:#DBECE2;
    outline: none;}
#midgoal_6:focus{background-color:#C9D5ED;
    outline: none;}
#midgoal_7:focus{background-color:#E3EDF7;
    outline: none;}
#midgoal_8:focus{background-color:#D0EAEB;
    outline: none;}

.midgoal{
    resize: none;
    width: 200px;
    height: 150px;
    border-radius: 10px;
    text-align: center;
    padding:0;
    margin-top: 0px;
    box-shadow: 5px 5px 10px rgb(0 0 0 / 30%);
    border: none;
}

.bigtext{
    width:20px;
    height:50px;
}

#question_1, #question_2{
    margin-top: 100px;
    height: 500px;
}
#question_1 .q{
    margin-top: 150px;
}
#question_2 .q{
    margin-top: 100px;
}
.midgoals{
    margin-top: 50px;
}
input{
    margin-top: 30px;
}
.l{
    color: #603ec0;
    font-weight: bold;
    font-size: 30px;
}
p{
    display:inline-block;
    font-size: 25px;
    font-weight: bold;
}