.small_example a:hover{
    background-color: violet;
    color: white;
    text-decoration: none;
    font-size: 130%;
}
.small_example a:link{
    background-color: orchid;
    color: white;
    text-decoration: none;
}
.small_example a:visited{
    background-color: orchid;
    color: white;
    text-decoration: none;
}
.board {
    display: grid;
    grid-template-rows: 390px 390px 390px;
    grid-template-columns: 390px 390px 390px;
    margin: 2% 0 5% 0;  
}

.box {
    display: grid;
    grid-template-rows: 130px 130px 130px;
    grid-template-columns: 130px 130px 130px;
}

body {
    display: grid;
    justify-content: center;
    text-align: center;

}

.element {
    background: rgb(245, 196, 243);
    border: 2px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    font-weight: bold;
    font-style: bold;
    font-size: large;
    overflow: hidden;
    padding: 35.7% 5% 35.7% 5%;
    resize: none;
    word-break: break-all;
}

#element5 {
    background: rgb(235, 90, 90);
}
#box1 .element{background: #F8D4D0}
#box1 #element5 { background: #EC9790;}
#box2 .element{background:#FAD9BE}
#box2 #element5{background: #FAC188;}
#box3 .element{background: #F9EDBB}
#box3 #element5 {background: #F4DA85;}
#box4 .element{background: #EFDDEB}
#box4 #element5  {background: #CD9BC4;}
#box6 .element{background: #DBECE2}
#box6 #element5 {background: #9AD1B2;}
#box7 .element{background: #C9D5ED}
#box7 #element5  {background: #82A0D2;}
#box8 .element{background: #E3EDF7}
#box8 #element5  {background: #BAD3EF;}
#box9 .element{background: #D0EAEB}
#box9 #element5 {background: #51BDBD;}



#box5 #element1 {background: #EC9790;}
#box5 #element2 {background: #FAC188;}
#box5 #element3 {background: #F4DA85;}
#box5 #element4 {background: #CD9BC4;}
#box5 #element5 {background: #eee;}
#box5 #element6 {background: #9AD1B2;}
#box5 #element7 {background: #82A0D2;}
#box5 #element8 {background: #BAD3EF;}
#box5 #element9 {background: #51BDBD;}


.small_btn_detail{
    position:center ;
    width:280px;
    height:70px;
    color: white;
    font-weight: bold;
    font-size: 25px;
     background: rgb(209, 209, 209);                        
    border:1px rgb(83, 83, 83);
    cursor:pointer;
    transition: 0.4s;
    display:inline;
    border-radius: 10px; 
    margin: 0 0 5% 75%;
} 

.small_btn_detail:hover{
    background-color: #603ec0;
}

.textarea-container {
    position: relative;
  }
.textarea-container textarea {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
.textarea-container button {
  position: absolute;
  top: 0%;
  right: 1.5%;
  border: none;
  cursor: pointer;
  font-size: xx-large;
  font-style: normal;
  font-weight: normal;
  color: white;
  background-color: transparent;
}