/* Global setting */
body, h1, h2, h3, h4, h5, h6, p{
    margin:0 auto;
}
body{
    font-family: 'Noto Sans KR', sans-serif;
}
ul{
    list-style:none;
    margin:0;
    padding:0;
}
img{
    border:0;
    outline:none;
    border:none;
}
a{
    text-decoration: none;
    color:#000;
    outline:none;
    border:none;
    cursor: pointer;
}

/* INNER */
/* 내용을 화면 중간에 위치시키고 싶을 때 html class에 추가하면 됩니다 */
/* 좌우에 여백이 조금 있어요 */
.inner{
    width:95vw;
    margin: 0 auto;
    position:relative;
}

/* BUTTON */
button{
    padding:0;
    margin:0;
    outline:none;
    border:none;
    background:transparent;
    resize: none;
}


/* HEADER */
.header__container{
    z-index:100;
    position: fixed;
    width:100%;
    padding-top: 20px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.header__container .logo{
    flex:2;
    margin-left:30px;
}
.header__container .logo p{
    color:#333;
    font-size:32px;
    font-weight: 800;
}
.header__container .navbar{
    flex:1;
    display:flex;
    margin-right:30px;
}
.header__container .navbar #menu{
    flex:2;
}
.header__container .navbar #menu li span{
    color:#333;
    padding: 5px 10px;
}
.header__container .navbar #menu li span:hover{
    background-color: rgba(238, 238, 238, 0.3);
    border-radius: 5px;
    color:#333;
}
.header__container .navbar .member{
    flex:1;
    display:flex;
    justify-content: space-between;
}
.header__container .navbar .member .signin{

}
.header__container .navbar .member .login{

}

/* HOME */
#fullpage{
    z-index:-1;
}
#home__section1{
    height:100vh;
    background-image: url(../img/wall.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
#home__section2{
    background-color: royalblue;
}
#home__section3{
    background-color:rosybrown;
}
#home__section4{
    background: teal;
}

/* Creat Mandalart */

/* login */
.login_background{
    background: #eee;
    width: 100%; 
    height: 100%;
    background-position: center;
    background-size: cover;
    position: absolute;
}

.login_body{
    position:absolute;
    width:300px;
    height:400px;
    padding: 40px 30px 30px 30px;
    background-color:#FFFFFF;
    text-align:center;
    top:30%;
    left:50%;
    transform: translate(-50%,-50%);
    border-radius: 10px;
    box-shadow: 0 0 100px 9px rgb(214, 214, 214);
}
.login_logo{
    text-decoration: line-through #603ec0;
    font-size: 40px;
    font-weight: bolder;
}
.login_idForm{
    position:relative;
    left:40%;
    transform: translateX(-50%);
    margin-top: 35px;
    margin-bottom: 10px;
    width:80%;
    height:40px;
    font-weight: bold;
    cursor:pointer;
    transition: 0.4s;
    display:inline;
    font-size: 15px;
  }

.login_pwForm{
    position:relative;
    left:40%;
    transform: translateX(-50%);
    margin-bottom: 10px;
    width:80%;
    height:40px;
    font-weight: bold;
    cursor:pointer;
    transition: 0.4s;
    display:inline;
    font-size: 15px;

}
.login_check{
    font-size: 14px;
    left:50%;
    margin-bottom: 30px;
}
.login_no{
    font-size: 15.5px;
    margin-top: 20px;
}

/* register */
.register_background{
    background: #eee;
    width: 100%; 
    height: 100%;
    background-position: center;
    background-size: cover;
    position: absolute;
}

.register_body{
    margin-top: 10%;
    margin-bottom: 30%;
    position:absolute;
    width:500px;
    height:650px;
    padding: 70px 70px 70px 80px;
    background-color:#FFFFFF;
    text-align:center;
    top:30%;
    left:50%;
    transform: translate(-50%,-50%);
    border-radius: 10px;
    box-shadow: 0 0 100px 9px rgb(214, 214, 214);
    text-align: left;
}
.register_idForm{
    position:relative;
    left:40%;
    transform: translateX(-50%);
    margin-top: 35px;
    margin-bottom: 10px;
    left: 50%;
    width:60%;
    height:35px;
    font-weight: bold;
    cursor:pointer;
    transition: 0.4s;
    display:inline;
    font-size: 15px;
  }
  .register_pwForm{
    position:relative;
    left:40%;
    transform: translateX(-50%);
    margin-bottom: 10px;

    left: 40.4%;
    width:60%;
    height:35px;
    font-weight: bold;
    cursor:pointer;
    transition: 0.4s;
    display:inline;
    font-size: 15px;
  }

.register_pwcheckForm{
    position:relative;
    left:40%;
    transform: translateX(-50%);
    margin-bottom: 10px;
    left: 32.9%;
    width:60%;
    height:35px;
    font-weight: bold;
    cursor:pointer;
    transition: 0.4s;
    display:inline;
    font-size: 15px;
  }

.register_nicknameForm{
    position:relative;
    left:40%;
    transform: translateX(-50%);
    margin-bottom: 10px;
    left:46.7%;
    width:60%;
    height:35px;
    font-weight: bold;
    cursor:pointer;
    transition: 0.4s;
    display:inline;
    font-size: 15px;
  }

.register_birthForm{
    position:relative;
    left:40%;
    transform: translateX(-50%);
    margin-bottom: 10px;
    left:20.2%;
    width:20%;
    height:35px;
    font-weight: bold;
    cursor:pointer;
    transition: 0.4s;
    display:inline;
    font-size: 15px;
  }

  .register_genderForm{
    position:relative;
    left:40%;
    transform: translateX(-50%);
    margin-bottom: 10px;
    left:46.5%;
    width:60%;
    height:35px;
    font-weight: bold;
    cursor:pointer;
    transition: 0.4s;
    display:inline;
    font-size: 15px;
  }
  .register_jobForm{
    position:relative;
    left:40%;
    transform: translateX(-50%);
    margin-bottom: 10px;
    left:46.5%;
    width:60%;
    height:35px;
    font-weight: bold;
    cursor:pointer;
    transition: 0.4s;
    display:inline;
    font-size: 15px;
  }
.register_ok{
    font-size: 15.5px;
    margin-top: 20px;
}