{% extends 'layout.html' %} {% load static %}{% block title %} {{nickname}}님의
만다라트{% endblock title %}{% block content %}
<script src="//developers.kakao.com/sdk/js/kakao.min.js"></script>
<script>
  window.twttr = (function (d, s, id) {
    var js,
      fjs = d.getElementsByTagName(s)[0],
      t = window.twttr || {};
    if (d.getElementById(id)) return t;
    js = d.createElement(s);
    js.id = id;
    js.src = "https://platform.twitter.com/widgets.js";
    fjs.parentNode.insertBefore(js, fjs);

    t._e = [];
    t.ready = function (f) {
      t._e.push(f);
    };

    return t;
  })(document, "script", "twitter-wjs");
  let manda = JSON.parse(
    "{{manda}}"
      .replace(/&quot;/g, '"')
      .replace(/\r/gi, "\\r")
      .replace(/\n/gi, "\\n")
      .replace(/\t/gi, "\\t")
      .replace(/\f/gi, "\\f")
  );
  let manda_big = manda[0];

  function drawMandaTable(parentNode) {
    let id = "element";
    let elemclass = "element";

    for (let i = 1; i <= 9; i++) {
      let box = document.createElement("div");
      box.className = "box";
      box.id = "box" + i;
      for (let j = 1; j <= 9; j++) {
        let elem = document.createElement("textarea");
        elem.className = elemclass;
        elem.id = id + i + j;
        elem.name = "box" + i + j;
        elem.setAttribute("autocomplete", "on");
        elem.setAttribute("readonly", true);
        box.appendChild(elem);
      }
      parentNode.appendChild(box);
    }
    for (let i = 1; i <= 9; i++) {
      if (i <= 4) {
        document.getElementById(id + 5 + i).value = manda[i][0];
        document.getElementById(id + i + 5).value = manda[i][0];
      } else if (i == 5) document.getElementById(id + 55).value = manda[0];
      else {
        document.getElementById(id + 5 + i).value = manda[i - 1][0];
        document.getElementById(id + i + 5).value = manda[i - 1][0];
      }
    }
    for (let i = 1; i <= 9; i++) {
      for (let j = 1; j <= 9; j++) {
        if (i == 5 || j == 5) continue;
        if (i < 5) {
          if (j < 5) {
            document.getElementById(id + i + j).value = manda[i][1][j - 1];
          } else {
            document.getElementById(id + i + j).value = manda[i][1][j - 2];
          }
        } else {
          if (j < 5) {
            document.getElementById(id + i + j).value = manda[i - 1][1][j - 1];
          } else {
            document.getElementById(id + i + j).value = manda[i - 1][1][j - 2];
          }
        }
      }
    }
  }
  function shareKakao() {
    Kakao.init("63d35744d122208296eafc04bbcec0f5");
    Kakao.Link.createDefaultButton({
      container: "#btnKakao",
      objectType: "feed",
      content: {
        title: "Cross Off",
        description: "만다라트 계획표로 어제보다 나은 오늘을",
        imageUrl:
          "https://raw.githubusercontent.com/HyunJik-Lee/CrossOff/master/logo.jpg",
        link: {
          mobileWebUrl: "https://peaceful-sands-44637.herokuapp.com/",
        },
      },
      buttons: [
        {
          title: "웹으로 이동",
          link: {
            mobileWebUrl: "https://peaceful-sands-44637.herokuapp.com/",
          },
        },
      ],
    });
  }
</script>

<div id="fb-root"></div>
<script
  async
  defer
  crossorigin="anonymous"
  src="https://connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v11.0"
  nonce="hvi7AwlU"
></script>
<div class="dashboard__content_bottom">
  <p>{{nickname}}님의 만다라트</p>
  <br /><br />
  <div class="share--buttons">
    <div class="fb-share-button" data-layout="button" data-size="large">
      <a
        target="_blank"
        href="https://www.facebook.com/sharer/sharer.php?u="
        class="fb-xfbml-parse-ignore"
        id="fb_share"
        >공유하기</a
      >
    </div>
    <div class="twitter-share-button" data-layout="button">
      <a
        class="twitter-share-button"
        href="https://twitter.com/intent/tweet"
        data-size="large"
        data-hashtags="만다라트,계획표"
        id="tw_share"
      >
        Tweet</a
      >
    </div>
    <div class="kakao-share-button" data-layout="button">
      <a id="btnKakao" href="javascript:shareKakao();">카톡 공유</a>
    </div>
  </div>
  <div class="plan__content">
    <div class="plan table" data-type="table">
      <div class="manda__table" id="manda_table_share">
        <script>
          let manda_share = document.getElementById("manda_table_share");
          drawMandaTable(manda_share);
        </script>
      </div>
    </div>
  </div>
</div>
<script>
  window.onload = function () {
    fb_share.href += encodeURIComponent(location.href);
  };
</script>
{%endblock content %}
